//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 19 10:10:07 2017
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "N3" LEVEL 1;
COMP "B" LOCATE = SITE "E2" LEVEL 1;
COMP "C" LOCATE = SITE "F3" LEVEL 1;
COMP "D" LOCATE = SITE "M11" LEVEL 1;
COMP "E" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

